html, body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight:300;
	font-stretch:normal;
}

a {
	color: #4198D2;	
	text-decoration: none;
}

header,
footer {
	padding: 0 15px;
}

header {
	background-color: #4198D2;
	height: 50px;
	line-height: 50px;
}

header a {
	color: #FFFFFF;
}

header .block {
	display: inline-block;
	vertical-align: top;
}

header .logo {
	padding-left: 38px;
	font-size: 23px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center left;
}

header .form input[name="search_query"] {
	width: 150px;
	color: #B8B8B8;
	padding: 5px;
}
header .form input[type="submit"] {
	border: 0;
	margin-left: -25px;
	cursor: pointer;
	
	background: none;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: center center;
}

header .menu {
	font-size: 14px;
}
header .menu a {
	margin: 5px;
}


footer {
	background-color: #424242;
}

footer .block {
	width: 220px;
	margin-top: 25px;
}
footer .block.activity {
	text-align: left;
	width: 270px;
}
footer .block .title {
	font-size: 14px;
	color: #878787;	
}
footer .block .content {
	font-size: 18px;
	color: #A7A7A7;	
	margin-top: 20px;
}
footer .block .content ol,
footer .block .content ul {
	margin: 0px;
	padding: 0px;
	list-style-position: inside;
}
footer .block .content ul {
	list-style-type: none;
}
footer .block .content li {
	margin: 8px 0px;
}

footer .block .content li.location {
	padding-left: 20px;
	background-image: url(../images/location_contacts.png);
	background-repeat: no-repeat;
	background-position: center left;
}
footer .block .content .social {
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
}
footer .block .content .twitter {
	background-image: url(../images/Twitter_Color.png);
}
footer .block .content .pinterest {
	background-image: url(../images/Pinterest_Color.png);
}
footer .block .content .youtube {
	background-image: url(../images/YouTube_Color.png);
}
footer .block .content .facebook {
	background-image: url(../images/Facebook_Color.png);
}
footer .block .content .google {
	background-image: url("../images/Google +_Color.png");
}
footer .block .content .instagram {
	background-image: url(../images/Instagram_Color.png);
}



#containerMain {
	padding-left: 15px;
}

/* responsive design */
@media (min-width: 768px) {
	
	/*  justify header and footer  */
	header,
	footer {
		text-align: justify;
		padding: 0 30px;
	}
	header:before,
	footer:before {
	    content: '';
	    display: block;
	    width: 100%;
	}
	header:after,
	footer:after {
	    content: '';
	    display: inline-block;
	    width: 100%;
	}
	
	
	header .form input[name="search_query"] {
		width: 250px;
	}
	
	footer {
		height: 200px;
	}
	footer .block {
		width: 150px;
		display: inline-block;
		vertical-align: top;
	}
	footer .block.activity {
		width: 220px;
	}	
	footer .block .content {
		font-size: 11px;
	}
	footer .block .content .social {
		width: 70px;
		height: 50px;
	}
	footer .block .content .twitter {
		background-image: url(../images/Twitter.png);
	}
	footer .block .content .twitter:hover {
		background-image: url(../images/Twitter_Color.png);
	}
	footer .block .content .pinterest {
		background-image: url(../images/Pinterest.png);
	}
	footer .block .content .pinterest:hover {
		background-image: url(../images/Pinterest_Color.png);
	}
	footer .block .content .youtube {
		background-image: url(../images/YouTube.png);
	}
	footer .block .content .youtube:hover {
		background-image: url(../images/YouTube_Color.png);
	}
	footer .block .content .facebook {
		background-image: url(../images/Facebook.png);
	}
	footer .block .content .facebook:hover {
		background-image: url(../images/Facebook_Color.png);
	}
	footer .block .content .google {
		background-image: url("../images/Google +.png");
	}
	footer .block .content .google:hover {
		background-image: url("../images/Google +_Color.png");
	}
	footer .block .content .instagram {
		background-image: url(../images/Instagram.png);
	}
	footer .block .content .instagram:hover {
		background-image: url(../images/Instagram_Color.png);
	}

	/* glue footer to bottom of page*/
	#wrapperTopPage {
		min-height: 100%;
	}
	#footerBlank {
		min-height: 200px;
	}
	footer {
		margin-top: -200px;
	}
}

@media (min-width: 1024px) {
	header .form input[name="search_query"] {
		width: 300px;
	}
	footer .block {
		width: 250px;
	}
}
