<div class="newsView">
	<div class="header">
		<div data-dojo-attach-point="nodeCloseButton" class="closeButton"></div>
	</div>
	<div class="body">
		<div class="title">
			<span data-dojo-attach-point="nodeTitle"></span>
		</div>
		<div class="multimedia">
			<img data-dojo-attach-point="nodeImg" />
		</div>
		<div class="content">
			<div>
				<div class="label">[lead_paragraph]</div>
				<div data-dojo-attach-point="nodeLeadParagraph"></div>
			</div>
			<div>
				<div class="label">[snippet]</div>
				<div data-dojo-attach-point="nodeSnippet"></div>
			</div>
			<div>
				<div class="label">[source]</div>
				<div data-dojo-attach-point="nodeSource"></div>
			</div>
			<div>
				<div class="label">[web_url]</div>
				<a data-dojo-attach-point="nodeWebUrl" target="_blank"></a>
			</div>
		</div>
	</div>
</div>